.option {
  padding: 40px 0 64px 0;
  @media screen and (max-width: 767px) {
    padding: 40px 0px 35px;
  }
  .section-title {
    margin-bottom: 8px;
  }
  &-list {
    margin-top: 40px;
  }
  &-item {
    &__head {
      background-color: var(--secondary-color);
      color: #fff;
      border-radius: 8px 8px 0 0;
      padding: 10px 0;
      font-size: 2.1rem;
      line-height: calc(24 / 21);
    }
    &__body {
      padding: 20px 0 0 0;
      border: 1px solid var(--secondary-color);
      border-radius: 0 0 8px 8px;
      @media screen and (max-width: 767px) {
        padding-bottom: 0;
      }
    }
    &__image {
      margin-bottom: 30px;
    }
    &__time {
    }
    &-inner {
      padding-bottom: 16px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &__content {
      padding: 20px 9px 20px 16px;
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 16px;
      ul {
        list-style: none;
        padding-left: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    &__button {
      padding: 10px;
      border-top: 1px solid var(--secondary-color);
      margin-top: 15px;
      &.clicked {
        border-bottom: 1px solid var(--secondary-color);
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}
