/** BUTTON **/

.button {
  padding: 7px 24px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  border: 1px solid transparent;
  &--primary {
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }
  &--secondary {
    background-color: var(--secondary-color);
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
  &--rounded {
    border-radius: 9999px;
  }
  &--center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
