/** FOOTER **/
.footer {
  padding: 50px 0 40px 0;
  font-weight: 500;
  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
  }
  .row {
    @media screen and (max-width: 767px) {
      --gutter: 15px;
    }
  }
  &__intro {
    height: 100%;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__logo {
    img {
      width: 98px;
    }
  }
  &__logo,
  &__description {
    margin-bottom: 28px;
  }

  &__description {
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &__copyright {
    font-size: 1.6rem;
    margin-top: auto;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &__item {
    padding: 0 50px;
    height: 100%;
    @media screen and (max-width: 1365px) {
      padding: 0px 20px;
    }
    @media screen and (max-width: 1199px) {
      padding: 0;
    }

    &-title {
      font-size: 2.5rem;
      margin-bottom: 25px;
      line-height: 1.3;
      @media screen and (max-width: 1199px) {
        font-size: 2rem;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 767px) {
        font-size: 1.8rem;
      }
    }
    &-accordion {
      @media screen and (max-width: 767px) {
        .footer__item-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:after {
            display: block;
            content: "";
            width: 10px;
            height: 10px;
            background-image: url("data:image/svg+xml,%3Csvg width='68' height='41' viewBox='0 0 68 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.1332 11.6594L39.0681 38.9927C37.5562 40.338 35.8101 41 34.0639 41C32.3178 41 30.5759 40.3327 29.245 38.998L2.17997 11.6647C0.0408321 9.71615 -0.542717 6.76927 0.512203 4.22813C1.56712 1.68698 4.05387 0 6.80723 0H61.129C63.8845 0 66.3717 1.66157 67.4279 4.21745C68.4841 6.77333 68.0922 9.71615 66.1332 11.6594Z' fill='%23006CB6'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
          &.clicked:after {
            transform: rotate(180deg);
          }
        }
      }
      &-inner {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
  &__menu {
    &:after {
      @media screen and (min-width: 1024px) {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        right: -15px;
        top: 5px;
        background-color: var(--secondary-color);
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      a {
        text-decoration: underline;
        color: var(--secondary-color);
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
  &__contact {
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      a {
        color: var(--secondary-color);
        &:hover {
          color: var(--primary-color);
        }
        &:before {
          margin-right: 7px;
          width: 16px;
          height: 16px;
          content: "";
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        &.footer__contact--tel {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.152' height='16.168' viewBox='0 0 16.152 16.168'%3E%3Cg id='Group_23537' data-name='Group 23537' transform='translate(0 0.007)'%3E%3Cpath id='Path_23373' data-name='Path 23373' d='M0,0,5.346.007l0,3.031L0,3.031Z' transform='translate(9.102 3.776) rotate(-45)' fill='%23006cb6'/%3E%3Cpath id='Path_23355' data-name='Path 23355' d='M386.452,399.112l-1.959-1.955-3.738,3.729,1.969,2.058Z' transform='translate(-380.755 -387.931)' fill='%23006cb6'/%3E%3Cpath id='Path_23356' data-name='Path 23356' d='M390.136,400.026c.377.83.6,2.291-1.138,4.014-1.884,1.886-3.455,1.461-4.23,1.028l-3.626,3.723a9,9,0,0,0,10.195-2.227c4.379-4.44,3.221-8.638,2.488-10.3Z' transform='translate(-378.382 -393.349)' fill='%23006cb6'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
          &:hover:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.152' height='16.168' viewBox='0 0 16.152 16.168'%3E%3Cg id='Group_23537' data-name='Group 23537' transform='translate(0 0.007)'%3E%3Cpath id='Path_23373' data-name='Path 23373' d='M0,0,5.346.007l0,3.031L0,3.031Z' transform='translate(9.102 3.776) rotate(-45)' fill='%23F27C00'/%3E%3Cpath id='Path_23355' data-name='Path 23355' d='M386.452,399.112l-1.959-1.955-3.738,3.729,1.969,2.058Z' transform='translate(-380.755 -387.931)' fill='%23F27C00'/%3E%3Cpath id='Path_23356' data-name='Path 23356' d='M390.136,400.026c.377.83.6,2.291-1.138,4.014-1.884,1.886-3.455,1.461-4.23,1.028l-3.626,3.723a9,9,0,0,0,10.195-2.227c4.379-4.44,3.221-8.638,2.488-10.3Z' transform='translate(-378.382 -393.349)' fill='%23F27C00'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
        }
        &.footer__contact--mail {
          &:before {
            background-image: url("data:image/svg+xml,%3Csvg id='Group_23538' data-name='Group 23538' xmlns='http://www.w3.org/2000/svg' width='17.025' height='10.837' viewBox='0 0 17.025 10.837'%3E%3Cpath id='Path_23357' data-name='Path 23357' d='M389.012,406.33l-8.513-5.442h17.025Z' transform='translate(-380.499 -400.887)' fill='%23006cb6'/%3E%3Cpath id='Path_23358' data-name='Path 23358' d='M389.012,406.534l8.512-5.442v9.383H380.5v-9.383Z' transform='translate(-380.499 -399.638)' fill='%23006cb6'/%3E%3C/svg%3E%0A");
          }
          &:hover:before {
            background-image: url("data:image/svg+xml,%3Csvg id='Group_23538' data-name='Group 23538' xmlns='http://www.w3.org/2000/svg' width='17.025' height='10.837' viewBox='0 0 17.025 10.837'%3E%3Cpath id='Path_23357' data-name='Path 23357' d='M389.012,406.33l-8.513-5.442h17.025Z' transform='translate(-380.499 -400.887)' fill='%23F27C00'/%3E%3Cpath id='Path_23358' data-name='Path 23358' d='M389.012,406.534l8.512-5.442v9.383H380.5v-9.383Z' transform='translate(-380.499 -399.638)' fill='%23F27C00'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
  &__social {
    margin-top: 47px;
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
    &-list {
      margin-bottom: -10px;
    }
    &-title {
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 10px;
      &:not(:last-child) {
        margin-right: 9px;
      }
    }
    a {
      color: #fff;
      width: 27px;
      height: 27px;
      background-color: var(--secondary-color);
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
