.register {
  padding: 50px 0;
  background-position: right;
  @media screen and (max-width: 1023px) {
    background: #e9dbd0 !important;
  }
  &__form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    &-wrapper {
      @media screen and (max-width: 1023px) {
        margin: 0 auto;
        float: unset;
      }
    }
    .section-title {
      margin-bottom: 30px;
    }
    form {
      textarea,
      select,
      input {
        border: 1px solid #c5c5c5;
        border-radius: 4px;
        padding: 9px 16px 8px 16px;
        width: 100%;
        font-size: 1.4rem;
        color: #2c2c2c;
        line-height: 1.4;
        outline: none;
        &::placeholder {
          color: #2c2c2c;
        }
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
          border-color: var(--secondary-color);
        }
      }
      select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cg id='Group_23699' data-name='Group 23699' transform='translate(3132.265 -934.854) rotate(90)'%3E%3Cpath id='Path_23772' data-name='Path 23772' d='M939.43,3126.236a.747.747,0,0,1-.146-.1q-2.1-2.333-4.2-4.669a.737.737,0,0,1-.2-.733.577.577,0,0,1,.911-.348,1.232,1.232,0,0,1,.157.155l4.648,5.167a.739.739,0,0,1,0,1.112q-2.334,2.6-4.667,5.191a.591.591,0,0,1-.618.235.691.691,0,0,1-.307-1.1c.1-.121.2-.23.306-.344l4-4.432C939.343,3126.342,939.367,3126.311,939.43,3126.236Z' transform='translate(0 0)' fill='%23858585'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center right 16px;
      }
      button {
        width: 200px;
        text-align: center;
      }
    }
  }
  &-step {
    padding: 40px 0 65px 0;
    background-color: #f5f5f5;
    .section-title {
      margin-bottom: 40px;
    }
  }
}
